{% extends 'base.html' %}
{% block content %}

<h1 class="edit-title">Featuring</h1>
  <h1 class="add-title">{{ recipe.name }}</h1>
  {% for photo in recipe.photo_set.all %} 
  <img src="{{ photo.url }}" class="card-img-top">
{% empty %} 
  <img
        src="https://imgur.com/ephVgQ7.jpeg"
        class="card-img-top"
        alt="..."
    />
  {% endfor %} 
  <div class="accordion" style="margin-left: 25%; width: 40rem" id="accordionExample">
  <div class="accordion-item">
  <h2 class="accordion-header custom-accord" id="headingOne">
     <button
        class="accordion-button accord-btn collapse-text"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >Follow the recipe step by step
      </button>
      </h2>
      <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-mdb-parent="#accordionExample"
    >
    <div class="accordion-body">
        {{recipe.instructions}}
    </div>
  </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header custom-accord" id="headingTwo">
      <button
        class="accordion-button collapsed collapse-text"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Cuisine Classification
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-mdb-parent="#accordionExample"
    >
      <div class="accordion-body">
        {{recipe.cuisine}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header custom-accord" id="headingThree">
      <button
        class="accordion-button collapsed collapse-text"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        Nutritional Information
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="headingThree"
      data-mdb-parent="#accordionExample"
    >
      <div class="accordion-body">
        Estimated Serving Size: {{recipe.servingsize}}
        <br>
        Total Calories: {{recipe.calories}}
      </div>
    </div>
  </div>
  </div>
  <div class="card-action changes-box">
    <h3 class="change-box-tit">Change Recipe</h3>
    <a class="edit-link" href="{% url 'recipes_update' recipe.id %}">✎ Edit</a>
    <br>
    <a class="delete-link" href="{% url 'recipes_delete' recipe.id %}"> ✘ Delete</a>
  </div>
{% for photo in recipe.photo_set.all %} 
  <img src="{{ photo.url }}">
{% empty %} 
  <div>No Photos Uploaded</div>
{% endfor %} 
  <div class="card-action changes-box">
    <form action="{% url 'add_photo' recipe.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %} 
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
  </form>
</div>
</div>
<hr>
<div class="row">
  <div class="col s6">
        <h3 class="details-sub">Shopping List</h3>
        <p class="details-body">The recipe calls for...</p>
    {% if recipe.ingredients.count %}
      {% for ingredient in recipe.ingredients.all %}
        <div class="card" style="width: 15rem; margin: 0 auto; display: inline-block;">
          <div class="card-content">
            <ul class="list-group list-group-flush">
              <li class="list-group-item ingred-list"> <strong class="ingredient-att">{{ ingredient.amount }}{{ingredient.measurement}}
               </strong> of {{ingredient.ingred_name}}</li>
            </ul>
          </div>
    </div> 

      {% endfor %}
    {% else %}
      <h5>No ingredients have been added.</h5>
    {% endif %}
    <h3 class="details-sub">Recently Used</h3>
    <div class="col s6">
      {% if ingredients.count %}
      {% for ingredient in ingredients.all %}
      <form action="{% url 'assoc_ingredient' recipe.id ingredient.id %}" method="post">
        <div class="chip ml-0 mr-0 chip-custom">
           {% csrf_token %}
            <span><strong class="ingredient-att">{{ ingredient.ingred_name }}</strong></span>
                <button type="submit" class="chip-btn">
              + </button>
          </div> 
      </form>
      </div>
  </div>
    {% endfor %}
    {% else %}
      <p class="details-body">No recent ingredients available. Please add more ingredients!</p>
    {% endif %}
  </div>  
  <hr>
  <h3 class="details-sub">How did the recipe turn out?</h3>
    <table class="table">
      <thead class="table-dark" style="background: rgb(93, 43, 75);">
        <tr><th>Date</th><th>Name</th><th>Review Info</th><th>Rating No.</th></tr>
      </thead>
      <tbody>
        {% for recipelog in recipe.recipelog_set.all %}
          <tr>
            <td>{{recipelog.date}}</td>
            {% comment %} <td>{{recipelog.recipe_use}}</td> {% endcomment %}
            <td>{{recipelog.review_name}}</td>
            <td>{{recipelog.review}}</td>
            <td>{{recipelog.get_rating_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  <div class="col s6">
  <h3 class="details-sub">Create a New Review</h3>
  <form action="{% url 'add_recipelog' recipe.id %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-3 review-form">
      <span class="input-group-text material-icons review-name-icon" id="basic-addon1">people</span>
      <input type="text" style="width: 120px;" name="review_name" class="review-name-input" placeholder="Enter Name" aria-label="Enter Name"
      aria-describedby="basic-addon1" {{recipelog_form.review_name}}
    
      <span class="input-group-text material-icons review-name-icon" id="basic-addon1">people</span>
      <input type="date" class="date-input" placeholder="Select Date" aria-label="Select Date"
      aria-describedby="basic-addon1" style="color: #753E5E; border: 2px initial rgb(50, 48, 50)" {{recipelog_form.date}}
    </div>
    <div class="input-group mb-3 review-form">
      <span class="input-group-text material-icons directions-icon">format_list_numbered</span>
      <textarea class=" review-input" name="review"  aria-label="Review the Recipe"
       placeholder="The recipe review goes right here. Remember, practice makes perfect! Provide feedback for yourself." {{recipelogform.review}}></textarea>
    
      <select type="text" {{recipelog_form.rating}}
    </div>
    <div class="form-check checkbox review-form">
    <input
      class="form-check-input checkbox"
      type="checkbox"
      value=""
      id="flexCheckDefault"
        {{recipelog_form.recipe_use}}
      <label class="form-check-label" for="flexCheckDefault">
          I have made this recipe.
      </label> 
    <button type="submit" class="btn review-btn" value="Submit Review">
    </div>   
  </div>
  </form>
  </div>
</div>
<script>
  {% comment %} const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  }); {% endcomment %}
  $('.datetimepicker').datetimepicker({
    icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
    }
}); 
</script>
{% endblock %}