body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: purple;
    background-color: rgb(239, 239, 232);
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: center;
  }

.nav-icon {
  color: rgb(234, 233, 227) !important;
  font-size: 50px !important;
  margin-right: 15px;
  margin-left: 23px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count:inherit;
  animation-timing-function:linear;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(180deg); }
}

.navbar-brand {
  font-size: 42px;
  color: #cec0ca !important;
  font-family: 'Kaushan Script', cursive;
}

strong, .navbar-brand {
  color:#cec0ca;
  margin-left: 5px;
}

span {
  font-size: 18px;
  color: white !important;
}

.nav-link {
  color: rgb(210, 210, 207) !important;
}
.navbar {
  background-color: #753E5E !important;
}

.index-str {
  color: #762755;
  font-family: 'Julius Sans One', sans-serif;
}

.index-title {
  color: rgb(75, 74, 75);
  margin-top: 45px;
  text-align: center;
  font-family: 'Trocchi', serif;
}

.index-card {
  margin-top: 20px !important;
}

.index-textBlurb {
  text-align: center;
  color: rgb(58, 56, 56); 
}

.index-card-title {
  color:#c6abbe;
  font-family:  'Julius Sans One', sans-serif;
  background-color: rgb(47, 45, 45);
  padding: 5px;
}